exo1/deviceQuery
exo1/helloWorld
*.o
exo2/julia/julia_gpu
exo3/saxpy
exo5/inversion_no_shared
exo5/inversion_shared
exo5/inversion_no_shared_solution
exo5/inversion_shared_solution
exo4/vague
exo6/gemm_cublas
exo6/gemm_omp
exo6/matmul_tiled