exo1/deviceQuery
exo1/helloWorld
*.o
exo2/julia/julia_gpu
exo3/saxpy
exo5/inversion_no_shared
exo5/inversion_shared
exo5/inversion_no_shared_solution
exo5/inversion_shared_solution
exo4/vague
exo6/gemm_cublas
exo6/gemm_omp
exo6/matmul_tiled
exo6/gemm_cublas_solution
exo6/gemm_omp_solution
exo6/matmul_tiled_solution
exo7/test1
exo7/test2
exo7/test3