*.o
*.d
*.so
*.coff
*.svg
nachos/code/bin/coff2noff
nachos/code/test/halt
nachos/code/test/matmult
nachos/code/test/shell
nachos/code/test/sort
nachos/code/test/putchar
nachos/code/test/putchar.s
nachos/code/test/putstring
nachos/code/test/putstring.s
nachos/code/test/getchar
nachos/code/test/getstring
nachos/code/test/putint_getint
nachos/code/test/makethreads
nachos/code/test/makemultithreads
nachos/code/test/halt.s
nachos/code/threads/nachos
nachos/code/userprog/nachos
!nachos/.vscode/tasks.json
nachos/report
nachos/report.xml
