#!/usr/bin/env xdg-open
[Desktop Entry]
Version=0.1
Name=Recolor
Comment=Enjoy!
Exec=recolor_sdl
Path=/usr/local/bin
Icon=/usr/share/icons/hicolor/scalable/apps/recolor.svg
Terminal=false
Type=Application
Categories=Game
GenericName=Recolor